python-multipart
rich
typer[all]
fastapi==0.115.9
uvicorn[standard]
aiohttp==3.11.13
prefect==3.2.7
numpy==2.2.3
pypdf==5.3.0
pdf2image


# Force reinstall:
# pip install --force-reinstall -r requirements_sparrow_agents.txt