python-multipart
rich
typer[all]
fastapi==0.115.6
uvicorn[standard]
aiohttp==3.11.11
prefect==3.1.15
numpy==2.2.2
pypdf==5.2.0
pdf2image


# Force reinstall:
# pip install --force-reinstall -r requirements_sparrow_agents.txt