python-multipart
rich
typer[all]
fastapi==0.137.1
uvicorn[standard]
aiohttp==3.14.1
griffe
prefect==3.7.4
numpy==2.4.6
pypdf==6.13.2
pdf2image
celery==5.6.3
redis==8.0.0
flower==2.0.1


# Force reinstall:
# pip install --force-reinstall -r requirements_sparrow_agents.txt