
.DS_Store
sparrow-ui/donut/.idea/inspectionProfiles/profiles_settings.xml
sparrow-ui/donut/.idea/inspectionProfiles/Project_Default.xml
sparrow-ui/donut/.idea/misc.xml
sparrow-ui/donut/.idea/modules.xml
sparrow-ui/donut/.idea/sparrow-ui.iml
sparrow-ui/tools/__pycache__/utilities.cpython-310.pyc
sparrow-ui/views/__pycache__/dashboard.cpython-310.pyc
sparrow-ui/views/__pycache__/data_annotation.cpython-310.pyc
sparrow-ui/views/__pycache__/data_extraction.cpython-310.pyc
sparrow-ui/views/__pycache__/model_training.cpython-310.pyc
sparrow-ui/views/__pycache__/model_tuning.cpython-310.pyc
sparrow-ui/views/__pycache__/settings.cpython-310.pyc
sparrow-ui/donut/.idea/vcs.xml
*.pyc
sparrow-data/donut/.idea/inspectionProfiles/profiles_settings.xml
sparrow-data/donut/.idea/inspectionProfiles/Project_Default.xml
sparrow-data/donut/.idea/misc.xml
sparrow-data/donut/.idea/modules.xml
sparrow-data/donut/.idea/sparrow-data.iml
sparrow-data/donut/.idea/vcs.xml
sparrow-data/donut/.idea/workspace.xml
sparrow-ml/donut/.idea/inspectionProfiles/profiles_settings.xml
sparrow-ml/donut/.idea/inspectionProfiles/Project_Default.xml
sparrow-ml/donut/.idea/misc.xml
sparrow-ml/donut/.idea/modules.xml
sparrow-ml/donut/.idea/sparrow-ml.iml
sparrow-ml/donut/.idea/vcs.xml
sparrow-ml/donut/.idea/jupyter-settings.xml
sparrow-ui/.idea/jupyter-settings.xml
sparrow-data/.idea/jupyter-settings.xml
sparrow-ml/llm/.idea/inspectionProfiles/profiles_settings.xml
sparrow-ml/llm/.idea/inspectionProfiles/Project_Default.xml
sparrow-ml/llm/.idea/lemming.iml
sparrow-ml/llm/.idea/misc.xml
sparrow-ml/llm/.idea/modules.xml
sparrow-ml/llm/.idea/vcs.xml
sparrow-ml/llm/.idea/workspace.xml
sparrow-ml/llm/.idea/jupyter-settings.xml
sparrow-data/donut/.idea/jupyter-settings.xml
sparrow-ui/donut/.idea/jupyter-settings.xml
sparrow-ml/lemming/.idea/inspectionProfiles/profiles_settings.xml
sparrow-ml/lemming/.idea/inspectionProfiles/Project_Default.xml
sparrow-ml/lemming/.idea/jupyter-settings.xml
sparrow-ml/lemming/.idea/lemming.iml
sparrow-ml/lemming/.idea/misc.xml
sparrow-ml/lemming/.idea/modules.xml
sparrow-ml/lemming/.idea/vcs.xml
sparrow-ml/lemming/.idea/workspace.xml
sparrow-ml/llm/.idea/llm.iml
sparrow-data/ocr/.idea/inspectionProfiles/profiles_settings.xml
sparrow-data/ocr/.idea/inspectionProfiles/Project_Default.xml
sparrow-data/ocr/.idea/jupyter-settings.xml
sparrow-data/ocr/.idea/misc.xml
sparrow-data/ocr/.idea/modules.xml
sparrow-data/ocr/.idea/ocr.iml
sparrow-data/ocr/.idea/vcs.xml
sparrow-ml/llm/.idea/copilot/chatSessions/xd.lck
sparrow-ml/llm/.idea/copilot/chatSessions/blobs/version
sparrow-ml/llm/.idea/copilot/chatSessions/00000000000.xd

sparrow-ml/llm/.env_haystack/
sparrow-ml/llm/.env_llamaindex/
sparrow-ml/llm/.env_instructor/
sparrow-ml/llm/.env_unstructured/
sparrow-data/ocr/.env_ocr/
sparrow-data/parse/.env_parse
sparrow-data/parse/.idea/inspectionProfiles/profiles_settings.xml
sparrow-data/parse/.idea/inspectionProfiles/Project_Default.xml
sparrow-data/parse/.idea/misc.xml
sparrow-data/parse/.idea/modules.xml
sparrow-data/parse/.idea/parse.iml
sparrow-data/parse/.idea/vcs.xml
sparrow-data/parse/dist/sparrow_parse-0.1.7-py3-none-any.whl
sparrow-data/parse/dist/sparrow_parse-0.1.7.tar.gz
sparrow-data/parse/poetry.lock
sparrow-data/parse/.env_sparrow_parse
sparrow-data/parse/build
sparrow-data/parse/dist
sparrow-data/parse/sparrow_parse.egg-info
/sparrow-ml/infra/infra/.env_infra
/sparrow-ml/infra/infra/.idea
/sparrow-ml/infra/.env_infra
/sparrow-ml/infra/.idea
