
.DS_Store
sparrow-ui/.idea/inspectionProfiles/profiles_settings.xml
sparrow-ui/.idea/inspectionProfiles/Project_Default.xml
sparrow-ui/.idea/misc.xml
sparrow-ui/.idea/modules.xml
sparrow-ui/.idea/sparrow-ui.iml
sparrow-ui/tools/__pycache__/utilities.cpython-310.pyc
sparrow-ui/views/__pycache__/dashboard.cpython-310.pyc
sparrow-ui/views/__pycache__/data_annotation.cpython-310.pyc
sparrow-ui/views/__pycache__/data_extraction.cpython-310.pyc
sparrow-ui/views/__pycache__/model_training.cpython-310.pyc
sparrow-ui/views/__pycache__/model_tuning.cpython-310.pyc
sparrow-ui/views/__pycache__/settings.cpython-310.pyc
sparrow-ui/.idea/vcs.xml
*.pyc
sparrow-data/donut/.idea/inspectionProfiles/profiles_settings.xml
sparrow-data/donut/.idea/inspectionProfiles/Project_Default.xml
sparrow-data/donut/.idea/misc.xml
sparrow-data/donut/.idea/modules.xml
sparrow-data/donut/.idea/sparrow-data.iml
sparrow-data/donut/.idea/vcs.xml
sparrow-data/donut/.idea/workspace.xml
sparrow-ml/.idea/inspectionProfiles/profiles_settings.xml
sparrow-ml/.idea/inspectionProfiles/Project_Default.xml
sparrow-ml/.idea/misc.xml
sparrow-ml/.idea/modules.xml
sparrow-ml/.idea/sparrow-ml.iml
sparrow-ml/.idea/vcs.xml
sparrow-ml/.idea/jupyter-settings.xml
sparrow-ui/.idea/jupyter-settings.xml
sparrow-data/.idea/jupyter-settings.xml
sparrow-plugin/.idea/inspectionProfiles/profiles_settings.xml
sparrow-plugin/.idea/inspectionProfiles/Project_Default.xml
sparrow-plugin/.idea/jupyter-settings.xml
sparrow-plugin/.idea/misc.xml
sparrow-plugin/.idea/modules.xml
sparrow-plugin/.idea/sparrow-plugin.iml
sparrow-plugin/.idea/vcs.xml
sparrow-plugin-ui/.idea/inspectionProfiles/profiles_settings.xml
sparrow-plugin-ui/.idea/inspectionProfiles/Project_Default.xml
sparrow-plugin-ui/.idea/jupyter-settings.xml
sparrow-plugin-ui/.idea/misc.xml
sparrow-plugin-ui/.idea/modules.xml
sparrow-plugin-ui/.idea/sparrow-plugin-ui.iml
sparrow-plugin-ui/.idea/vcs.xml
sparrow-ml/sorrel/.idea/inspectionProfiles/profiles_settings.xml
sparrow-ml/sorrel/.idea/inspectionProfiles/Project_Default.xml
sparrow-ml/sorrel/.idea/jupyter-settings.xml
sparrow-ml/sorrel/.idea/misc.xml
sparrow-ml/sorrel/.idea/modules.xml
sparrow-ml/sorrel/.idea/sorrel.iml
sparrow-ml/sorrel/.idea/vcs.xml
sparrow-ml/lemming/.idea/inspectionProfiles/profiles_settings.xml
sparrow-ml/lemming/.idea/inspectionProfiles/Project_Default.xml
sparrow-ml/lemming/.idea/lemming.iml
sparrow-ml/lemming/.idea/misc.xml
sparrow-ml/lemming/.idea/modules.xml
sparrow-ml/lemming/.idea/vcs.xml
sparrow-ml/lemming/.idea/workspace.xml
sparrow-ml/lemming/.idea/jupyter-settings.xml
