/* Move menu container higher */
div.css-1544g2n.e1fqkh3o4 {
    padding-top: 3rem;
}

/* Hide Streamlit bars */
#MainMenu {
    visibility: hidden;
}

footer {
    visibility: hidden;
}

/* Hide anchor link */
.css-1dgmtll.e16nr0p32 {
    display: none
}