pdf2image==1.16.2
python-poppler==0.4.1
datasets==2.10.1
Pillow==9.5.0
paddlepaddle==2.5.2
paddleocr==2.7.0.3
fastapi==0.96.0
python-multipart
motor==3.1.2
pydantic==1.10.8
pycryptodome==3.18.0
uvicorn[standard]