pdf2image==1.17.0
torch==2.8.0
opencv-python==4.11.0.86
torchvision
torchaudio
datasets==4.2.0
paddleocr==3.2.0
paddlepaddle==3.2.0
pillow==11.3.0
python-multipart
fastapi==0.119.0
uvicorn[standard]
rich


# Force reinstall:
# pip install --force-reinstall -r requirements.txt