pdf2image==1.17.0
torch==2.7.1
torchvision
torchaudio
datasets==3.6.0
paddleocr==3.1.0
paddlepaddle==3.1.0
pillow==11.3.0
python-multipart
fastapi==0.115.14
uvicorn[standard]
rich


# Force reinstall:
# pip install --force-reinstall -r requirements.txt