rich
transformers==4.45.1
sentence-transformers==3.0.1
numpy==1.26.4
pypdf==4.3.0
easyocr==1.7.1
gradio_client
pdf2image
mlx-vlm==0.1.1; sys_platform == "darwin" and platform_machine == "arm64"


# Force reinstall:
# pip install --force-reinstall -r requirements.txt