python-multipart
rich
typer[all]
fastapi==0.129.0
uvicorn[standard]
sparrow-parse[mlx]==1.3.2
genson==1.3.0
jsonschema==4.26.0
python-dotenv
python-box
torchvision
oracledb==3.4.2
# git+https://github.com/huggingface/transformers.git


# Force reinstall:
# pip install --force-reinstall -r requirements_sparrow_parse.txt

# For pdf2image, additional step is required:
# brew install poppler