python-multipart
rich
typer[all]
fastapi==0.124.4
uvicorn[standard]
sparrow-parse[mlx]==1.2.1
genson==1.3.0
jsonschema==4.25.1
python-dotenv
python-box
torchvision
oracledb==3.4.1
# git+https://github.com/huggingface/transformers.git


# Force reinstall:
# pip install --force-reinstall -r requirements_sparrow_parse.txt

# For pdf2image, additional step is required:
# brew install poppler