unstructured[all-docs]==0.13.2
unstructured-inference==0.7.25
langchain==0.1.16
langchain-community==0.0.33
langchain-core==0.1.43
chromadb
sentence_transformers
python-box
rich
typer[all]
fastapi==0.110.1
uvicorn[standard]
ollama==0.1.8
python-multipart
weaviate-client==4.5.5


# Force reinstall:
# pip install --force-reinstall -r requirements_unstructured.txt