pypdf
python-box
typer[all]
fastapi==0.110.0
uvicorn[standard]
ollama-haystack==0.0.5
haystack-ai==2.0.0
weaviate-haystack==1.0.2
ollama==0.1.7
python-multipart
sentence-transformers

# Force reinstall:
# pip install --force-reinstall -r requirements_haystack.txt