ollama==0.1.8
python-multipart
yfinance==0.2.38
instructor==1.2.5
python-box
PyYAML
rich
typer[all]
fastapi==0.110.2
uvicorn[standard]
sparrow-parse==0.1.9
anthropic


# Force reinstall:
# pip install --force-reinstall -r requirements_instructor.txt