<!-- templates/base.html -->

{% load compress %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'images/site.webmanifest' %}">
    <link rel="mask-icon" href="{% static 'images/safari-pinned-tab.svg' %}" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    {% if request.path == '/document' %}
    <title>Analyze Document - Sparrow</title>
    {% elif request.path == '/expense' %}
    <title>Analyze Expense - Sparrow</title>
    {% elif request.path == '/identity' %}
    <title>Analyze ID - Sparrow</title>
    {% elif request.path == '/upload' %}
    <title>Document Upload - Sparrow</title>
    {% elif request.path == '/mapping' %}
    <title>Data Mapping - Sparrow</title>
    {% elif request.path == '/review' %}
    <title>Review - Sparrow</title>
    {% elif request.path == '/export' %}
    <title>Export - Sparrow</title>
    {% else %}
    <title>Sparrow</title>
    {% endif %}

    <meta name="description" content="Document processing with ML">
    <meta name="author" content="Katana ML">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap"
          rel="stylesheet">

    {% compress css %}
    <link rel="stylesheet" href="{% static 'src/output.css' %}">
    {% endcompress %}

</head>
<body class="bg-gray-50 dark:bg-gray-800">

{% include 'navbar.html' %}

<div class="flex pt-16 overflow-hidden bg-gray-50 dark:bg-gray-900">
    {% include 'sidebar.html' %}
    <div id="main-content" class="relative w-full h-full overflow-y-auto bg-gray-50 lg:ml-64 dark:bg-gray-900">
        <main>
            {% block content %}
            {% endblock content %}
        </main>
        {% include 'footer.html' %}
    </div>
</div>

<script src="{% static 'scripts/app.bundle.js' %}"></script>

</body>
</html>